.cta-section{
  display:grid;
  grid-template-columns: 1fr 520px;
  gap: 28px;
  align-items:center;
  margin: 34px 0 18px;
  padding:  0;
  background: #CDBEBA;
  border-radius: 12px;
}

.cta-left{
  padding: 8px 8px 8px 5rem;
  text-align: left;
  max-width: 400px;
}
.cta-left h2{
  font-family: "Playfair Display", serif;
  font-size: 38px;
  margin: 0 0 12px;
}
.cta-left p{ color: var(--muted); max-width: 520px; margin:0 0 18px; }

.store-badges{
  display:flex; gap:12px; align-items:center;
}
.badge{
  display:flex;
  align-items:center; 
  gap:10px;
  padding:8px 12px; 
  border-radius:40px; 
  background:#111; 
  color:#fff; 
  box-shadow: 0 6px 18px rgba(17,17,17,.12);
  text-align: center;
  max-width: 150px;
  font-weight:400;
  font-size:12px;
}

.badge p {
  font-weight:200;
  font-size:12px;
  flex-wrap: wrap;
}
.badge .logo{
  width:28px; height:28px;  border-radius:6px; display:grid; place-items:center;
}

.cta-right{
  position:relative; display:flex; align-items:center; justify-content:center;
  min-height: 360px;
}

.phone-screen img{
  max-width: 90rem;
  max-height: 90rem;
  width: 100%;
  height: 100%;
  display:flex;
}

.screen-item{
  width:100%;
  display:flex; align-items:center; gap:10px; padding:10px; border-radius:12px;
  background: linear-gradient(180deg, #fff, #fff);
  border: 1px solid #f1e7e1;
}
.screen-item .dot { width:36px; height:36px; border-radius:10px; background: #f5efe9; display:grid; place-items:center; font-weight:600; color:#7a3d2e; }
.screen-item .text { font-size:13px; color:#3b352f; }

.float-pill{
  position:absolute;
  padding: 12px;
  background: #fff;
  border-radius: 999px;
  border: 1px solid #4B1B13;
  box-shadow: 0 10px 26px rgba(0,0,0,.08);
  font-weight:600;
  color:#2f2926;
  z-index:3;
  display:flex; gap:10px; align-items:center;
}
.float-pill .icon{
  width:28px; height:28px; border-radius:8px; background:var(--pill); display:grid; place-items:center;
}

.pill-a{ right: 18px; top: 46px; }
.pill-b{ left: 18px; top: 136px; }
.pill-c{ right: 28px; bottom: 74px; }

@media (max-width: 768px) {
.phone-screen {
  display: none;
  top: 0;
  left: 0;
}
.cta-left {
  position: absolute;
    padding: 0px ;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.cta-section {
    display: flex;
    grid-template-columns: 1fr 520px;
    gap: 28px;
    align-items: center;
    margin: 34px 0 18px;
    padding: 0;
    background: #CDBEBA;
    border-radius: 12px;
}

.store-badges {
    display: flex;
    gap: 12px;
    margin-left: 3rem;
}
 }